@media all and (min-width: 768px){
    div#navbar {
        flex-direction: column;
        text-align: center;
    }
    button {
        text-align: center;
    }
    .buttonwrapper {
        color: white;
        text-align: center;
    }
    .imgwrapper {
        flex-direction: column;
    }

    img {
        margin: auto;
    }}
